.container .filters {
    color: black;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    align-items: center;
    position: relative;
}

.container .filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    margin-right: 30px;
    position: absolute;
    right: 0px;
}

.filters button:hover {
    opacity: 90%;
}

.container .filters .locations {
    height: 100%;
    width: 25%;
    border-right: 1px solid #DDDDDD;
}

.container .filters .locations h3 {
    font-weight: 600;
    margin-bottom: 0;
    margin-left: 40px;
}

.container .filters .locations h4 {
    margin: 0;
    margin-left: 40px;
    font-weight: 400;
    font-size: 14px;
}

.container .filters .amenities {
    height: 100%;
    width: 25%;
}

.container .filters .amenities h3 {
    font-weight: 600;
    margin-bottom: 0;
    margin-left: 40px;
}

.container .filters .amenities h4 {
    margin: 0;
    margin-left: 40px;
    font-weight: 400;
    font-size: 14px;
}

.container .filters .locations .popover {
    display: none;
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    margin-top: 17px;
    list-style: none;
    padding-top: 8%;
    padding-bottom: 8%;
}

.container .filters .locations .popover ul {
    list-style: none;
}

.container .filters .locations .popover ul li {
    margin: 0.5em 0;
}

.container .filters .locations .popover ul li h2 {
    font-size: 16px;
    margin-bottom: -2px;
}

.container .filters .locations .popover ul li ul li {
    margin-left: -25px;
}

.container .filters .locations:hover .popover {
    display: block;
}

.container .filters .amenities .popover {
    display: none;
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    margin-top: 17px;
    list-style: none;
    padding-top: 8%;
    padding-bottom: 8%;
}

.container .filters .amenities .popover ul {
    list-style: none;
}

.container .filters .amenities .popover ul li {
    margin: 0.5em 0;
}


.container .filters .amenities:hover .popover {
    display: block;
}